apipkg==1.5
Appium-Python-Client==2.2.0
attrs==20.3.0
certifi==2023.7.22
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
execnet==1.8.0
idna==3.7
imutils==0.5.4
iniconfig==1.1.1
numpy
opencv-python==4.5.5.64
packaging==20.9
pluggy==0.13.1
pure-python-adb==0.3.0.dev0
py==1.10.0
git+https://github.com/testdevlab/Py-TestUI@v1.1.1#egg=py_testui
pyparsing==2.4.7
pytest==7.1.1
pytest-forked==1.3.0
pytest-testrail==2.9.0
pytest-xdist>=2.2.1
requests==2.32.0
selenium==4.1.0
toml==0.10.2
urllib3==1.26.19
value==0.1.0
webdriver-manager==3.3.0
